---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Durwankur S. Naik">
  <div class="h-[60vh] w-full flex justify-center items-center">
    <h1 class="heading-1">Blog page coming soon</h1>
  </div>
</Layout>
