<footer
  class="flex flex-col md:flex-row items-center justify-between py-5 md:py-16 text-xs sm:text-base"
>
  <span class="span">Made with &#128420; by Durwankur S. Naik</span>

  <span class="span">© 2023 Durwankur | All rights reserved</span>
</footer>
