---
import { Image } from "astro:assets";

import HeroImg from "../assets/hero-img.webp"
---

<header class="pt-8 md:pt-14" id="home">
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex-[3] flex justify-center">
      <Image src={HeroImg} alt="hero-img" width="500" />
    </div>

    <div class="flex-[4] flex flex-col gap-6 justify-center">
      <div>
        <span class="span text-[var(--complementary-color)] text-sm">
          My name is
        </span>
        <h1 class="heading-1">Durwankur S. Naik</h1>
      </div>
      <div class="heading-2">
        <h2>- Full-stack web developer</h2>
        <h2>- Web designer</h2>
        <h2>- Tech Admirer</h2>
      </div>
      <p>
        I am a Fullstack Web Developer who writes production ready code that is
        clicks away from providing your huge ideas with great UI/UX experience
        establishing your identity on this vast space known as{" "}
        <span class="font-bold">Internet</span>
      </p>
      <button class="button">
        <a href="mailto: ndurwankur14@gmail.com">Work with me</a>
      </button>
    </div>
  </div>
</header>
